// Portrait tablet and small desktops
@media (max-width: 940px) {
	body {
		background-color: $white;
	}

	header {
		h1 {
			width: 21rem;
			font-size: 7rem;
			top: 25rem;
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

// Landscape phone to portrait tablet
@media (max-width: 768px) {
	// header h1 {
	// 	// margin: 12rem auto;
	// 	// position: initial;
	// }

	.contact .wrapper {
		flex-direction: column;
	}

	// Socials Sections
	.contact {
		text-align: center;

		.wrapper {
			.socials-icons {
				.fab,
				.far {
					margin: 0 1.5rem;
				}
			}
		}
	}

	// Contact Form
	.contact-form {
		width: 100%;
		height: 50rem;
		box-shadow: none;
		position: initial;
		margin-bottom: 5rem;

		input {
			margin-bottom: 2rem;
		}
	}
}

// Landscape phones and down
@media (max-width: 480px) {
	// none
}
