@import './partials/setup';
@import './partials/variables';
@import './partials/mixins';
@import './partials/media-queries';

// Header Styles
header {
	background: url(../../assets/blog-header-1.jpg) no-repeat;
	background-size: cover;
	height: 60vh;

	nav {
		background-color: black;
	}

	.wrapper {
		position: relative;

		h1 {
			font-size: 8rem;
			font-weight: 700;
			line-height: 9.2rem;
			color: $sunny-yellow;
			text-align: left;
			transform: none;
			left: 0;
			top: 30rem;
			margin: 0;
		}
	}
}

// Main Content
body {
	background-color: $white;
}

.main-content {
	background-color: $white;
	position: relative;
}

// Image styles
.main-content .img-container {
	justify-content: space-between;

	.img-side-bar {
		max-width: 30%;
		height: 50rem;
	}

	.img-post-image {
		max-width: 100%;
		box-shadow: -2rem 2rem $sunny-yellow;
	}
}

// Article Card Styles

.article-card {
	flex-direction: column;
	max-width: 60%;
	position: absolute;
	top: -25rem;
	right: 0;
	background-color: $white;

	.article-content {
		max-width: 90%;
		padding: 4rem;
		margin-bottom: 4rem;
		box-shadow: -2rem 1rem $sunny-yellow;

		& p:nth-of-type(1) {
			color: $forest-green;
			margin-bottom: 10rem;
		}

		h3 {
			font-size: 4.3rem;
			font-weight: 700;
			letter-spacing: 0.013rem;
			margin-top: 10rem;
		}

		p {
			margin: 1rem 0;

			span {
				font-weight: 700;
			}
		}
	}
}

// Footer Style
// footer {
// 	position: absolute;
// 	bottom: 0;
// }
