@import './partials/setup';
@import './partials/variables';

// Header Styles
header {
	background: url(../assets/blog-header-1.jpg) no-repeat;
	background-size: cover;
	height: 60vh;

	nav {
		background-color: rgba(0, 0, 0, 0.863);
	}

	.wrapper {
		position: relative;

		h1 {
			font-size: 8rem;
			font-weight: 700;
			line-height: 9.2rem;
			color: $sunny-yellow;
			text-align: left;
			transform: none;
			left: 0;
			top: 30rem;
			margin: 0;
		}
	}
}

// Main Content
body {
	background-color: $white;
}

.main-content {
	background-color: $white;
	position: relative;
}

// Image styles
.main-content-container {
	justify-content: space-between;
	max-width: 30%;
	// setting height for the footer
	min-height: 2775px;

	.img-side-bar {
		margin-top: 20rem;
		height: 50rem;
		box-shadow: 2rem 0 white;
	}

	.img-post-image {
		max-width: 100%;
		box-shadow: -2rem 2rem $sunny-yellow;
	}
}

// Aside Section Styles
.aside-content {
	background-color: white;
	width: 60%;
	float: right;
	box-shadow: 2rem 0 white;
	padding: 2rem;

	h4 {
		font-size: 2.5rem;
		margin: 2rem 0;
	}

	a {
		text-decoration: none;
		color: $forest-green;
		font-weight: bold;
	}

	ul {
		padding-left: 3rem;
		color: $green;

		li {
			list-style: disc;
			font-size: 2rem;
			font-family: $font-body;
			line-height: 3.2rem;
			padding-left: 1rem;
			color: $black;
		}
	}
}

// Article Section Styles
.article-card {
	flex-direction: column;
	max-width: 60%;
	position: absolute;
	top: -25rem;
	right: 0;
	background-color: $white;

	.article-content {
		max-width: 90%;
		padding: 4rem;
		margin-bottom: 4rem;
		margin-left: -2rem;
		border-left: 1rem solid $sunny-yellow;
		border-bottom: 1rem solid $sunny-yellow;

		& p:nth-of-type(1) {
			color: $forest-green;
			margin-bottom: 10rem;
		}

		h3 {
			font-size: 4.3rem;
			font-weight: 700;
			letter-spacing: 0.013rem;
			margin-top: 10rem;
		}

		p {
			margin: 1rem 0;

			span {
				color: $forest-green;
				font-weight: 700;
			}
		}
	}
}

// Comment Section Styles
.comment-section {
	padding: 4rem;

	h3 {
		font-size: 3.2rem;
		letter-spacing: 0.01rem;
	}

	.comment-box {
		margin: 5rem 0;

		img {
			width: 10rem;
			height: auto;
		}

		.comment-box-text {
			max-width: 85%;
			margin: 2rem 0;
			padding: 0 4rem;
			position: relative;
			top: -2rem;

			h4 {
				font-size: 2.5rem;
				color: $forest-green;
				margin-bottom: 2rem;
			}
		}
	}
}

// Post Comment Box Styles
fieldset {
	border: none;
	padding: 0;
}

.post-comment-box {
	width: 90%;
	height: 50rem;
	padding: 4rem;

	form.flex {
		flex-direction: column;
		font-size: 2rem;

		input {
			width: 47%;
			border-style: none;
			border-bottom: 0.3rem solid $green;
			padding: 1rem;
			background-color: $white;
			outline: none;

			&[type='email'] {
				margin-left: 7.5rem;
			}
		}

		textarea {
			border: 0.3rem solid $green;
			margin: 3rem 0;
			padding: 2rem 1rem;
			background-color: $white;
		}

		.btn {
			margin-bottom: 0;
		}
	}
}

// Footer Style
// Please look above to the .main-content

// Media Queries
@import 'partials/media-queries';
@import 'partials/contact-media-queries';
@import 'partials/blog-media-queries';
