@import './partials/setup';
@import './partials/variables';

// Contact Page Specific Styles
//Header Styles
header {
	background: url(../../assets/contact-header-1.jpg) no-repeat;
	background-size: cover;
	height: 60vh;

	nav {
		background-color: rgba(0, 0, 0, 0.788);
	}

	.wrapper {
		position: relative;
	}

	h1 {
		font-size: 8rem;
		font-weight: 700;
		line-height: 9.2rem;
		color: $sunny-yellow;
		width: 20%;
		text-align: left;
		transform: none;
		left: 0;
		top: 25rem;
	}
}

// Socials Sections
.contact {
	background: $white;
	min-height: 50vh;

	.wrapper {
		justify-content: space-between;

		.socials-icons {
			font-size: 3rem;
			padding-top: 5rem;

			.fab,
			.far {
				margin: 0 0.5rem;
				color: $green;
			}
		}

		.contact-info {
			padding: 5rem 0;
		}

		.contact-info p:first-child {
			font-size: 3rem;
		}
	}
}

// Contact Form Styles
fieldset {
	border: none;
	padding: 0;
}

.contact-form {
	width: 60%;
	height: 50rem;
	background: white;
	padding: 4rem;
	box-shadow: -2rem 2rem $sunny-yellow;
	position: relative;
	bottom: 22rem;

	form.flex {
		flex-direction: column;
		font-size: 2rem;

		input {
			width: 45%;
			border-style: none;
			border-bottom: 0.3rem solid $green;
			padding: 1rem;
			outline: none;

			&[type='email'] {
				margin-left: 5rem;
			}
		}

		textarea {
			border: 0.3rem solid $green;
			margin: 3rem 0;
			padding: 2rem 1rem;
		}

		.btn {
			margin-bottom: 0;
		}
	}
}

// Media Queries
@import 'partials/media-queries';
@import 'partials/contact-media-queries';
@import 'partials/blog-media-queries';
