@import 'partials/setup';
@import 'partials/variables';

// General Styles
html {
	font-size: 62.5%;
}

body * {
	padding: 0;
	margin: 0;
	font-family: $font-heading;
	color: $black;

	+ p {
		font-family: $font-body;
		font-size: 2rem;
		line-height: 3.2rem;
		color: $black;
	}
}

.wrapper {
	width: 85%;
	max-width: 1440px;
	margin: 0 auto;
}

/* hide the checkbox */
.drop-menu input[type='checkbox'],
label {
	display: none;
}

ul li {
	list-style: none;

	a {
		text-decoration: none;
		color: $white;
	}
}

.flex {
	display: flex;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.btn {
	background: $green;
	color: $white;
	font-size: 2rem;
	font-weight: 700;
	line-height: 3.2rem;
	letter-spacing: 0.01rem;
	padding: 1rem 3rem;
	margin: 3rem 0;
	text-align: center;
	border: none;
}

// Header Styles
header {
	background: url(../assets/home-image-1.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;

	h1 {
		font-size: 16.6rem;
		font-weight: 400;
		text-align: left;
		color: $white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		span {
			color: $sunny-yellow;
		}
	}
}

.nav-bar {
	padding-top: 2rem;

	.logo {
		font-size: 4rem;
		color: $white;
	}

	li a {
		display: inline-block;
		font-size: 2rem;
		text-transform: uppercase;
		margin-left: 4rem;
		padding-top: 1.5rem;
	}

	li a:hover,
	li a:focus {
		color: $sunny-yellow;
	}

	// burger menu
	#burger-menu,
	.drop-menu label {
		float: right;
	}
}

.header-img {
	position: absolute;
	right: 0;
	bottom: -10rem;
	z-index: 1;
	width: 45%;
}

// About Section Styles
.about {
	background: $white;
	text-align: center;
	padding: 25rem 0;

	h2 {
		font-size: 5.63rem;
		font-weight: 700;
		letter-spacing: 0.13rem;
	}

	p {
		margin: 2rem auto;
	}
}

// Home Section Styles
.flex-container {
	justify-content: space-between;
	z-index: 1;
}

.home-card {
	width: 42%;
	flex-direction: column;

	.img-panel {
		width: 100%;
	}

	h3 {
		font-size: 3.2rem;
		font-weight: 700;
		letter-spacing: 0.01rem;
		padding-top: 15rem;
	}
}

.flex-card1 {
	text-align: right;
	padding-bottom: 2rem;

	.img-panel {
		box-shadow: 3rem 3rem $sunny-yellow;
		position: relative;
		bottom: 3rem;
	}

	p {
		padding-left: 20%;
	}
}

.flex-card2 {
	flex-direction: column-reverse;

	.img-panel {
		box-shadow: -3rem 3rem $sunny-yellow;
		position: relative;
		top: 3rem;
	}

	p {
		padding-right: 20%;
	}
}
// Home Info Styles
.home-info {
	background-color: $white;
	padding: 15rem 0;

	.info-box {
		flex-wrap: wrap;
		justify-content: space-between;

		.info-box1,
		.info-box2,
		.info-box3,
		.info-box4 {
			max-width: 45%;
			margin-bottom: 4rem;
		}
	}

	h3 {
		font-size: 3.2rem;
		font-weight: 700;
		letter-spacing: 0.01rem;
		padding: 2rem 0;
		position: relative;

		span {
			position: absolute;
			left: -8rem;
			bottom: 1rem;
			text-align: center;
			padding: 1.5rem 0;
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			background-color: $sunny-yellow;
		}
	}
}

// Blog Styles
.blog {
	background-color: $white;
	padding: 10rem 0;

	.flex {
		justify-content: space-between;
	}

	img {
		width: 300px;
		height: auto;
		box-shadow: 2rem 2rem $sunny-yellow;
	}

	.info-box5 {
		width: 65%;

		h3 {
			font-size: 4rem;
			letter-spacing: 0.01rem;
		}

		p {
			margin: 3rem 0;
		}
	}
}

// Image Gallery Styles
.gallery-container {
	justify-content: space-between;
	margin: 10% 0;

	img {
		max-width: 30%;
	}
}

// Footer Styles
footer {
	background-color: $black;
	text-align: center;

	p {
		color: $white;
		font-size: 2rem;
		padding: 2rem;
		margin: 0 auto;
	}
}

// Modal Window Styles
.hidden {
	display: none;
}

.modal {
	width: 90%;
	height: 90vh;
	padding: 5rem;
	margin: 0 auto;
	position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	background-color: rgb(151, 131, 131);

	z-index: 2;
}

// Media Queries
@import 'partials/media-queries';
@import 'partials/contact-media-queries';
@import 'partials/blog-media-queries';
