html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background: url(../../assets/blog-header-1.jpg) no-repeat;
  background-size: cover;
  height: 60vh;
}

header nav {
  background-color: rgba(0, 0, 0, 0.863);
}

header .wrapper {
  position: relative;
}

header .wrapper h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 9.2rem;
  color: #f8e71c;
  text-align: left;
  -webkit-transform: none;
          transform: none;
  left: 0;
  top: 30rem;
  margin: 0;
}

body {
  background-color: #f0efed;
}

.main-content {
  background-color: #f0efed;
  position: relative;
}

.main-content-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 30%;
  min-height: 2775px;
}

.main-content-container .img-side-bar {
  margin-top: 20rem;
  height: 50rem;
  -webkit-box-shadow: 2rem 0 white;
          box-shadow: 2rem 0 white;
}

.main-content-container .img-post-image {
  max-width: 100%;
  -webkit-box-shadow: -2rem 2rem #f8e71c;
          box-shadow: -2rem 2rem #f8e71c;
}

.aside-content {
  background-color: white;
  width: 60%;
  float: right;
  -webkit-box-shadow: 2rem 0 white;
          box-shadow: 2rem 0 white;
  padding: 2rem;
}

.aside-content h4 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.aside-content a {
  text-decoration: none;
  color: #074115;
  font-weight: bold;
}

.aside-content ul {
  padding-left: 3rem;
  color: #0e902d;
}

.aside-content ul li {
  list-style: disc;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 3.2rem;
  padding-left: 1rem;
  color: #2c2c2c;
}

.article-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60%;
  position: absolute;
  top: -25rem;
  right: 0;
  background-color: #f0efed;
}

.article-card .article-content {
  max-width: 90%;
  padding: 4rem;
  margin-bottom: 4rem;
  margin-left: -2rem;
  border-left: 1rem solid #f8e71c;
  border-bottom: 1rem solid #f8e71c;
}

.article-card .article-content p:nth-of-type(1) {
  color: #074115;
  margin-bottom: 10rem;
}

.article-card .article-content h3 {
  font-size: 4.3rem;
  font-weight: 700;
  letter-spacing: 0.013rem;
  margin-top: 10rem;
}

.article-card .article-content p {
  margin: 1rem 0;
}

.article-card .article-content p span {
  color: #074115;
  font-weight: 700;
}

.comment-section {
  padding: 4rem;
}

.comment-section h3 {
  font-size: 3.2rem;
  letter-spacing: 0.01rem;
}

.comment-section .comment-box {
  margin: 5rem 0;
}

.comment-section .comment-box img {
  width: 10rem;
  height: auto;
}

.comment-section .comment-box .comment-box-text {
  max-width: 85%;
  margin: 2rem 0;
  padding: 0 4rem;
  position: relative;
  top: -2rem;
}

.comment-section .comment-box .comment-box-text h4 {
  font-size: 2.5rem;
  color: #074115;
  margin-bottom: 2rem;
}

fieldset {
  border: none;
  padding: 0;
}

.post-comment-box {
  width: 90%;
  height: 50rem;
  padding: 4rem;
}

.post-comment-box form.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
}

.post-comment-box form.flex input {
  width: 47%;
  border-style: none;
  border-bottom: 0.3rem solid #0e902d;
  padding: 1rem;
  background-color: #f0efed;
  outline: none;
}

.post-comment-box form.flex input[type='email'] {
  margin-left: 7.5rem;
}

.post-comment-box form.flex textarea {
  border: 0.3rem solid #0e902d;
  margin: 3rem 0;
  padding: 2rem 1rem;
  background-color: #f0efed;
}

.post-comment-box form.flex .btn {
  margin-bottom: 0;
}

@media (max-width: 940px) {
  body h3 {
    font-size: 2.8rem;
  }
  body p {
    font-size: 1.8rem;
  }
  header {
    max-height: 50rem;
  }
  header h1 {
    font-size: 10rem;
  }
  .about {
    padding: 17rem 0 10rem;
  }
  .flex-container h3 {
    padding-top: 2rem;
  }
  .home-info {
    padding-bottom: 5rem;
  }
  .home-info h3 {
    margin-left: 8rem;
  }
  .home-info h3 span {
    left: -8rem;
  }
  .blog {
    padding: 3rem 0;
  }
  .blog img {
    width: 20rem;
    margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  .drop-menu label {
    display: block;
    font-size: 4rem;
  }
  .drop-menu label .fas {
    color: #f8e71c;
  }
  .nav-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar li a {
    display: none;
    padding: 12px 16px;
    border-top: 1px solid grey;
    text-align: right;
  }
  #burger-menu:checked ~ ul li a {
    display: block;
  }
}

@media (max-width: 940px) {
  body {
    background-color: #f0efed;
  }
  header h1 {
    width: 21rem;
    font-size: 7rem;
    top: 25rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact {
    text-align: center;
  }
  .contact .wrapper .socials-icons .fab,
  .contact .wrapper .socials-icons .far {
    margin: 0 1.5rem;
  }
  .contact-form {
    width: 100%;
    height: 50rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: initial;
    margin-bottom: 5rem;
  }
  .contact-form input {
    margin-bottom: 2rem;
  }
}

@media (max-width: 940px) {
  .main-content-container {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .main-content-container .img-side-bar {
    margin-top: 0;
    width: 40rem;
    height: 35rem;
    padding: 4rem 0 0 3rem;
  }
  .main-content-container .img-post-image {
    -webkit-box-shadow: 0 2rem #f8e71c;
            box-shadow: 0 2rem #f8e71c;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  aside .aside-content {
    width: 50%;
    padding: 2rem;
  }
  .article-card {
    max-width: 100%;
    position: static;
  }
  .article-card .article-content {
    max-width: 100%;
    margin-left: 0;
    border-left: none;
    border-bottom: 1rem solid #f8e71c;
  }
  .article-card .article-content p:nth-of-type(1) {
    margin-bottom: 5rem;
  }
  .comment-section {
    padding: 4rem;
  }
  .comment-section .comment-box {
    margin: 5rem 0 2rem;
  }
  .comment-section .comment-box .comment-box-text {
    padding: 0 0 0 4rem;
  }
  .post-comment-box {
    width: 100%;
  }
  footer {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .aside-content ul li {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  header .wrapper {
    position: initial;
  }
  header .wrapper h1 {
    left: 2.8rem;
    top: 28rem;
  }
  aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside .aside-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content-container .img-side-bar {
    min-width: 100%;
    padding: 0;
  }
}
