html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body * {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #2c2c2c;
}

body * + p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #2c2c2c;
}

.wrapper {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

/* hide the checkbox */
.drop-menu input[type='checkbox'],
label {
  display: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #f0efed;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.btn {
  background: #0e902d;
  color: #f0efed;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  padding: 1rem 3rem;
  margin: 3rem 0;
  text-align: center;
  border: none;
}

header {
  background: url(../../assets/home-image-1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

header h1 {
  font-size: 16.6rem;
  font-weight: 400;
  text-align: left;
  color: #f0efed;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

header h1 span {
  color: #f8e71c;
}

.nav-bar {
  padding-top: 2rem;
}

.nav-bar .logo {
  font-size: 4rem;
  color: #f0efed;
}

.nav-bar li a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 4rem;
  padding-top: 1.5rem;
}

.nav-bar li a:hover,
.nav-bar li a:focus {
  color: #f8e71c;
}

.nav-bar #burger-menu,
.nav-bar .drop-menu label {
  float: right;
}

.header-img {
  position: absolute;
  right: 0;
  bottom: -10rem;
  z-index: 1;
  width: 45%;
}

.about {
  background: #f0efed;
  text-align: center;
  padding: 25rem 0;
}

.about h2 {
  font-size: 5.63rem;
  font-weight: 700;
  letter-spacing: 0.13rem;
}

.about p {
  margin: 2rem auto;
}

.flex-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-card {
  width: 42%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-card .img-panel {
  width: 100%;
}

.home-card h3 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  padding-top: 15rem;
}

.flex-card1 {
  text-align: right;
  padding-bottom: 2rem;
}

.flex-card1 .img-panel {
  -webkit-box-shadow: 3rem 3rem #f8e71c;
          box-shadow: 3rem 3rem #f8e71c;
  position: relative;
  bottom: 3rem;
}

.flex-card1 p {
  padding-left: 20%;
}

.flex-card2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-card2 .img-panel {
  -webkit-box-shadow: -3rem 3rem #f8e71c;
          box-shadow: -3rem 3rem #f8e71c;
  position: relative;
  top: 3rem;
}

.flex-card2 p {
  padding-right: 20%;
}

.home-info {
  background-color: #f0efed;
  padding: 15rem 0;
}

.home-info .info-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-info .info-box .info-box1,
.home-info .info-box .info-box2,
.home-info .info-box .info-box3,
.home-info .info-box .info-box4 {
  max-width: 45%;
  margin-bottom: 4rem;
}

.home-info h3 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  padding: 2rem 0;
  position: relative;
}

.home-info h3 span {
  position: absolute;
  left: -8rem;
  bottom: 1rem;
  text-align: center;
  padding: 1.5rem 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #f8e71c;
}

.blog {
  background-color: #f0efed;
  padding: 10rem 0;
}

.blog .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog img {
  width: 300px;
  height: auto;
  -webkit-box-shadow: 2rem 2rem #f8e71c;
          box-shadow: 2rem 2rem #f8e71c;
}

.blog .info-box5 {
  width: 65%;
}

.blog .info-box5 h3 {
  font-size: 4rem;
  letter-spacing: 0.01rem;
}

.blog .info-box5 p {
  margin: 3rem 0;
}

.gallery-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10% 0;
}

.gallery-container img {
  max-width: 30%;
}

footer {
  background-color: #2c2c2c;
  text-align: center;
}

footer p {
  color: #f0efed;
  font-size: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

@media (max-width: 940px) {
  body h3 {
    font-size: 2.8rem;
  }
  body p {
    font-size: 1.8rem;
  }
  header {
    max-height: 50rem;
  }
  header h1 {
    font-size: 10rem;
  }
  .about {
    padding: 17rem 0 10rem;
  }
  .flex-container h3 {
    padding-top: 2rem;
  }
  .home-info {
    padding-bottom: 5rem;
  }
  .home-info h3 {
    margin-left: 8rem;
  }
  .home-info h3 span {
    left: -8rem;
  }
  .blog {
    padding: 3rem 0;
  }
  .blog img {
    width: 20rem;
    margin-top: 5rem;
  }
}

@media (max-width: 480px) {
  .drop-menu label {
    display: block;
    font-size: 4rem;
  }
  .drop-menu label .fas {
    color: #f8e71c;
  }
  .nav-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar li a {
    display: none;
    padding: 12px 16px;
    border-top: 1px solid grey;
    text-align: right;
  }
  #burger-menu:checked ~ ul li a {
    display: block;
  }
}

@media (max-width: 940px) {
  body {
    background-color: #f0efed;
  }
  header h1 {
    width: 21rem;
    font-size: 7rem;
    top: 25rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact {
    text-align: center;
  }
  .contact .wrapper .socials-icons .fab,
  .contact .wrapper .socials-icons .far {
    margin: 0 1.5rem;
  }
  .contact-form {
    width: 100%;
    height: 50rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: initial;
    margin-bottom: 5rem;
  }
  .contact-form input {
    margin-bottom: 2rem;
  }
}

@media (max-width: 940px) {
  .main-content-container {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .main-content-container .img-side-bar {
    margin-top: 0;
    width: 40rem;
    height: 35rem;
    padding: 4rem 0 0 3rem;
  }
  .main-content-container .img-post-image {
    -webkit-box-shadow: 0 2rem #f8e71c;
            box-shadow: 0 2rem #f8e71c;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  aside .aside-content {
    width: 50%;
    padding: 2rem;
  }
  .article-card {
    max-width: 100%;
    position: static;
  }
  .article-card .article-content {
    max-width: 100%;
    margin-left: 0;
    border-left: none;
    border-bottom: 1rem solid #f8e71c;
  }
  .article-card .article-content p:nth-of-type(1) {
    margin-bottom: 5rem;
  }
  .comment-section {
    padding: 4rem;
  }
  .comment-section .comment-box {
    margin: 5rem 0 2rem;
  }
  .comment-section .comment-box .comment-box-text {
    padding: 0 0 0 4rem;
  }
  .post-comment-box {
    width: 100%;
  }
  footer {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .aside-content ul li {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  header .wrapper {
    position: initial;
  }
  header .wrapper h1 {
    left: 2.8rem;
    top: 28rem;
  }
  aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside .aside-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content-container .img-side-bar {
    min-width: 100%;
    padding: 0;
  }
}
